---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octocat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a0557d80323e4448ff42a8a0d19db6a15e9b95ed5aeb298fbe2df13d475660d5"
      Last-Modified:
      - Mon, 22 Jun 2026 11:32:20 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1782200852'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","user_view_type":"public","site_admin":false,"name":"The
        Octocat","company":"@github","blog":"https://github.blog","location":"San
        Francisco","email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":8,"public_gists":8,"followers":23061,"following":9,"created_at":"2011-01-25T18:44:36Z","updated_at":"2026-06-22T11:32:20Z"}'
  recorded_at: Tue, 23 Jun 2026 06:49:56 GMT
recorded_with: VCR 6.4.0
